extends layouts/default.pug

block title
  title True web artisans →
    |
    | A team of professional product managers, UX specialists, talented developers and designers, who are ready to share their experience
    |
    | to solve your service and business tasks

block seo_meta
  meta(name="keywords" content="web development team, web dev team, online business improve")
  meta(name="description" content="True web artisans. Team who making: smart backend microservices, progressive web applications, effective business websites, chat bots for instant messengers and many more.")

block content
  section.wrapper.animated.slideInUp
    div.container
      div.item
        h1 True<span>&mdash;</span>web<span>&ndash;</span>artisans.
        div.spacer
        p Hello and welcome! I'm <strong>Vic Shóstak</strong>, fullstack web developer, UX evangelist,
          |
          | product manager and founder of this friendly company. Nice to meet you!
        div.spacer
        h2 What are we doing?
        p I personally and my team of <strong>IT specialists</strong> around the world&nbsp;&mdash; are ready
          |
          | to share our experience to solve your business objectives by:
        ul
          li
            a(href="/#effective-business-websites") Effective business websites
          li
            a(href="/#progressive-web-applications") Progressive web applications
          li
            a(href="/#smart-backend-microservices") Smart backend microservices
          li
            a(href="/#chat-bots-for-messengers") Chat bots for instant messengers
        div.spacer
        h2 How do we do this?
        p First of all, we are developers who know a lot about DX and support large projects in the long run.
          |
          | Therefore, all of our projects have excellent documentation and clear code. It's important!
        p The simple magic is based on <strong>Go</strong> (Golang), <strong>Python</strong>, modern <strong>JavaScript</strong>
          |
          | and <strong>CSS</strong>. Fast and secure delivery of developed web apps and microservices to any servers
          |
          | by <strong>Docker</strong> containers.
      div.item.center
        img.char.sticky(alt="True web artisans logo" src="../images/webartisans-bw-blank_optimized.svg" lazyload="on")
    div.container.hero.gradient-gray
      div.item.center
        h3 Have an interesting project?
        div.spacer
        p Contact us by public email now&nbsp;&darr;<br/>
          a(href="mailto:truewebartisans@gmail.com") truewebartisans@gmail.com
    //- div.container#effective-business-websites
    //-   div.item.center
    //-     img.char.sticky(alt="Effective business websites" src="../images/scribbbles/scribbble_3.svg" lazyload="on")
    //-   div.item
    //-     h2 ●&nbsp;&nbsp;Effective business websites
    //-     p Today, it's impossible to imagine modern business without a lot of <strong>integrated systems</strong>, that collect data from different
    //-       |
    //-       | sources and analyze them.
    //- div.container#progressive-web-applications
    //-   div.item
    //-     h2 ●&nbsp;&nbsp;Progressive web applications
    //-     p Today, it's impossible to imagine modern business without a lot of <strong>integrated systems</strong>, that collect data from different
    //-       |
    //-       | sources and analyze them.
    //-   div.item.center
    //-     img.char.sticky(alt="Progressive web applications" src="../images/scribbbles/scribbble_2.svg" lazyload="on")
    //- div.container#smart-backend-microservices
    //-   div.item.center
    //-     img.char.sticky(alt="Smart backend microservices" src="../images/scribbbles/scribbble_1.svg" lazyload="on")
    //-   div.item
    //-     h2 ●&nbsp;&nbsp;Smart backend microservices
    //-     p Today, it's impossible to imagine modern business without a lot of <strong>integrated systems</strong>, that collect data from different
    //-       |
    //-       | sources and analyze them.
    //- div.container#chat-bots-for-messengers
    //-   div.item
    //-     h2 ●&nbsp;&nbsp;Chat bots for instant messengers
    //-     p Today, it's impossible to imagine modern business without a lot of <strong>integrated systems</strong>, that collect data from different
    //-       |
    //-       | sources and analyze them.
    //-   div.item.center
    //-     img.char.sticky(alt="Chat bots for instant messengers" src="../images/scribbbles/scribbble_4.svg" lazyload="on")
    div.container.gradient-black
      div.item.center
        h3 Want to follow, give a star or unicorn? :)
        div.spacer
        p Sure, no problem! Just do it now&nbsp;&darr;<br/>
          a(href="https://twitter.com/true_koddr" target="_blank") Twitter
          |
          | ●
          |
          a(href="https://github.com/koddr" target="_blank") GitHub
          |
          | ●
          |
          a(href="https://dev.to/koddr" target="_blank") Dev.to
      div.item.small-font
        p &copy;&nbsp;2020 True web artisans. Media & text content by Vic Shóstak.
        p Do not consider this website as an “offer” on another page of the company. This is a great place
          |
          | to meet us and find out how we can be useful to each other.
        p Our website <strong>does not</strong> uses cookies, like millions of others. Relax.
