extends layouts/default.pug

block title
  title True web artisans →
    |
    | A team of professional product managers, UX specialists, talented developers and designers, who are ready to share their experience
    |
    | to solve your service and business tasks

block seo_meta
  meta(name="keywords" content="web development team, web dev team, online business improve")
  meta(name="description" content="True web artisans — a team of professional product managers, UX specialists, talented developers and designers, who are ready to share their experience to solve your service and business tasks")

block content
  section.container.animated.slideInUp
    div.item.about
      h1 True<span>&mdash;</span>web<span>&ndash;</span>artisans.
      div.spacer
      p Hello and welcome! I'm <strong>Vic Shóstak</strong>, fullstack web developer, UX evangelist,
        |
        | product manager and founder of this friendly company. Nice to meet you!
      div.spacer
      h2 What are we doing?
      p I personally and my team of <strong>IT specialists</strong> around the world&nbsp;&mdash; are ready
        |
        | to share our experience to solve your business objectives by:
      ul
        li
          a(href="/#smart-backend-microservices") Smart backend microservices
        li
          a(href="/#progressive-web-applications") Progressive web applications
        li
          a(href="/#effective-business-websites") Effective business websites
        li
          a(href="/#chat-bots-for-messengers") Chat bots for instant messengers
      div.spacer
      h2 How do we do this?
      p First of all, we are developers who know a lot about DX and support large projects in the long run.
        |
        | Therefore, all of our projects have excellent documentation and clear code. It's important!
      p The simple magic is based on <strong>Go</strong> (Golang), <strong>Python</strong>, modern <strong>JavaScript</strong>
        |
        | and <strong>CSS</strong>. Fast and secure delivery of developed web apps and microservices to any servers
        |
        | by <strong>Docker</strong> containers.
    div.item.logo_char.center
      img.char.sticky(alt="True web artisans logo" src="../images/webartisans-bw-blank_optimized.svg" lazyload="on")
    div.item.email_contact.center.dark
      h3 Have an interesting project?
      div.spacer
      p Contact us by public email now &darr;<br/>
        a(href="mailto:truewebartisans@gmail.com") truewebartisans@gmail.com
    div.item.footer.center
      p
        a(href="https://github.com/koddr" target="_blank") GitHub
        |
        | ●
        |
        a(href="https://instagram.com/true_koddr" target="_blank") Instagram
        |
        | ●
        |
        a(href="https://medium.com/@koddr" target="_blank") Medium

