<div class="cookie-confirm hidden">
  <section>Don't worry, we're using cookies, like all others.</section>
  <section>
    <button type="button" class="cookie-confirm-button">OK!</button>
  </section>
</div>
