/*
 *  Open Sans typeface
 */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-regular.woff2")
      format("woff2"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-regular.woff")
      format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-italic.woff2")
      format("woff2"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-italic.woff")
      format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-600.woff2")
      format("woff2"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-600.woff")
      format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-600italic.woff2")
      format("woff2"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-600italic.woff")
      format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-800.woff2")
      format("woff2"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-800.woff")
      format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-800italic.woff2")
      format("woff2"),
    url("../../resources/fonts/open-sans/open-sans-v16-latin-ext_cyrillic-ext_cyrillic_latin-800italic.woff")
      format("woff");
}

/*
 *  Hack typeface
 */

@font-face {
  font-family: "Hack";
  src: url("../../resources/fonts/hack/hack-regular.woff2?sha=3114f1256")
      format("woff2"),
    url("../../resources/fonts/hack/hack-regular.woff?sha=3114f1256")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("../../resources/fonts/hack/hack-bold.woff2?sha=3114f1256")
      format("woff2"),
    url("../../resources/fonts/hack/hack-bold.woff?sha=3114f1256")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("../../resources/fonts/hack/hack-italic.woff2?sha=3114f1256")
      format("woff2"),
    url("../../resources/fonts/hack/hack-italic.woff?sha=3114f1256")
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("../../resources/fonts/hack/hack-bolditalic.woff2?sha=3114f1256")
      format("woff2"),
    url("../../resources/fonts/hack//hack-bolditalic.woff?sha=3114f1256")
      format("woff");
  font-weight: 700;
  font-style: italic;
}
