// Font variables
@font-face {
  font-family: "Inter var";
  font-weight: 200 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/Inter-roman.var.woff2?v=3.12") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 200 600;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("../fonts/Inter-italic.var.woff2?v=3.12") format("woff2");
}

// Normal font
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2?v=3.12") format("woff2"),
    url("../fonts/Inter-Light.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.12") format("woff2"),
    url("../fonts/Inter-Regular.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2?v=3.12") format("woff2"),
    url("../fonts/Inter-Medium.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2?v=3.12") format("woff2"),
    url("../fonts/Inter-SemiBold.woff?v=3.12") format("woff");
}

$variable-font-family: "Inter var", sans-serif;
$variable-font-weight: 200;

$default-font-family: "Inter", Helvetica, Arial, sans-serif;
$default-font-weight: 300;

$font-size: 16px;

// Colors
$black: #2c2c2c;
$white: #ffffff;
$grey: #f6f6f6;
$grey-light: #ebebeb;
$grey-dark: #d6d4d4;
