---
layout: layouts/base.njk
permalink: "{{ page.filePathStem }}.html"
title: Smart backend microservices
description: Microservices allow your business to take more and more orders. No clear and user-friendly interface will work, unless there is a fast and stable backend.
keywords: backend, backend as a service, micro service, go micro service
action: Need a smart backend microservice
---

{% block preload %} {% endblock %}

<div class="wrapper">
  <main aria-label="Main content">
    {% include "partials/breadcrumb.njk" %}
    <header>
      <h1>{{ title }}</h1>
      <p class="lead">
        Microservices allow your business to take more and more orders. No clear
        and user-friendly interface will work, unless there is a fast and stable
        backend.
      </p>
    </header>
    <section>
      <h2>Rules of friendly design</h2>
      <p>
        Over many years of experience in producing
        <strong>user-friendly interfaces</strong>, we have learned three simple
        rules:
      </p>
      <ul>
        <li>Design should be as clear as possible</li>
        <li>All controls of interaction must be comfortable</li>
        <li>Accessibility for any person and device</li>
      </ul>
    </section>
  </main>
  <aside aria-label="Secondary graphics"></aside>
  <section class="action" aria-label="Feedback form">
    {% include "partials/action.njk" %}
  </section>
  <footer aria-label="Footer">
    {% include "partials/footer.njk" %}
  </footer>
</div>
