---
layout: layouts/base.njk
permalink: "{{ page.filePathStem }}.html"
title: UX efficiency reviews
description: Behind every successful business are the most efficiency websites or web apps. Especially on these highly competitive days.
keywords: ux, ux schema, ux reviews
---

<div class="wrapper">
  <main aria-label="Main content">
    {% include "partials/breadcrumb.njk" %}
    <header>
      <h1>UX efficiency reviews</h1>
      <p class="lead">
        Behind every successful business are the most efficiency websites or web
        apps. Especially on these <strong>highly competitive</strong> days.
      </p>
    </header>
    <section>
      <h2>Our working model</h2>
      <p>
        Let's take a look at our working model, which has already helped many
        projects to stay <strong>profitable</strong>:
      </p>
      <ul>
        <li>Discover and analyze a customer journey</li>
        <li>Create a UX schema, based on a customer journey</li>
        <li>Develop a technical specification for fixes</li>
        <li>Made your website profit (again)</li>
      </ul>
    </section>
  </main>
  <aside aria-label="Secondary graphics"></aside>
  <footer aria-label="Footer">
    {% include "partials/footer.njk" %}
  </footer>
</div>
