---
layout: layouts/base.njk
title: A team of professional product managers, UX specialists, talented developers and UI designers, who are ready to share their experience to solve your business objectives
description: True web artisans. Team who making UX efficiency review, friendly UI design, smart backend microservices, high-quality web apps and many more.
keywords: web development team, web dev team, online business improve
action: Have an interesting project
---

<div class="wrapper">
  <main aria-label="Main content">
    <header>
      <h1>True web artisans</h1>
      <p class="lead">
        Hello and welcome! I'm <strong>Vic Shóstak</strong>, fullstack web
        developer, UX evangelist, DX philosopher, product manager and founder of
        this friendly company.
      </p>
    </header>
    <section>
      <h2>What are we doing?</h2>
      <p>
        I personally and my team of IT specialists around the world&nbsp;&mdash;
        are ready to share <strong>our experience</strong> to solve your
        business objectives by:
      </p>
      <nav aria-label="Main menu">
        <ul>
          <li>
            <a href="/ux-reviews" title="UX efficiency reviews">
              UX efficiency reviews
            </a>
          </li>
          <li>
            <a href="/ui-design" title="Friendly UI design">
              Friendly UI design
            </a>
          </li>
          <li>
            <a href="/microservices" title="Smart backend microservices">
              Smart backend microservices
            </a>
          </li>
          <li>
            <a href="/web-apps" title="High-quality web apps">
              High-quality web apps
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <section>
      <h2>How do we do this?</h2>
      <p>
        First of all, we are developers who know a lot about DX and support
        large projects in the long run. Therefore, all of our projects have
        <strong>excellent</strong> documentation and <strong>clear</strong>
        code. It's important!
      </p>
      <p>
        The simple magic is based on <strong>Golang</strong>, modern
        <strong>JavaScript</strong> and <strong>CSS</strong>. Fast and secure
        delivery of developed web apps and microservices to any servers by
        <strong>Docker</strong> containers.
      </p>
    </section>
  </main>
  <aside aria-label="Secondary graphics">
    {% include "partials/logo.njk" %}
  </aside>
  <section class="action" aria-label="Feedback form">
    {% include "partials/action.njk" %}
  </section>
  <footer aria-label="Footer">
    {% include "partials/footer.njk" %}
  </footer>
</div>
