<div>
  <h3>{{ action }}?</h3>
</div>
<div>
  <p>
    Contact us now&nbsp;&rarr;
    <a
      href="mailto:truewebartisans@gmail.com?subject={{ action }}"
      title="Contact to True web artisans by public Email"
    >
      truewebartisans@gmail.com
    </a>
  </p>
</div>
