<section>
  <p>
    &copy;&nbsp;2016-2021, <strong>True web artisans</strong>.<br />
    <em>
      Illustrations & content was crafted by Vic Shóstak with &hearts; for
      people and robots.
    </em>
  </p>
</section>
<section>
  <p>
    <em>
      Please, do <strong>not</strong> consider this website as an “offer” on
      another page of the company.
    </em>
    This is a great place to <strong>meet us</strong> and find out
    <strong>how we can be useful</strong> to each other. For a short, we can
    help with <a href="/ux-reviews">UX</a>, <a href="/ui-design">UI</a>,
    <a href="/microservices">microservices</a>,
    <a href="/web-apps">web apps</a>.
  </p>
</section>
<section>
  <p>
    And you can <strong>follow us</strong> on&nbsp;&darr;<br />
    <a href="https://github.com/koddr" target="_blank" rel="noreferrer"
      >GitHub</a
    >
    <a href="https://dribbble.com/koddr" target="_blank" rel="noreferrer"
      >Dribbble</a
    >
    <a href="https://dev.to/koddr" target="_blank" rel="noreferrer">Dev.to</a>
    <a href="https://twitter.com/true_koddr" target="_blank" rel="noreferrer"
      >Twitter</a
    >
  </p>
</section>
