<figure>
  <img
    src="/images/true_web_artisans-bird.svg"
    class="bird animated slideInDown"
    alt="true web artisans bird"
  />
  <img
    src="/images/true_web_artisans-coder.svg"
    class="boy"
    alt="true web artisans coder"
  />
  <img
    src="/images/true_web_artisans-swoosh.svg"
    class="swoosh animated slideInUp"
    alt="true web artisans swoosh"
  />
</figure>
